
Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
packages/NUnit.2.5.7.10213/Tools/nunit-agent-x86.exe.config
packages/NUnit.2.5.7.10213/Tools/nunit-agent.exe.config
packages/NUnit.2.5.7.10213/Tools/nunit-console.exe.config
packages/NUnit.2.5.7.10213/Tools/nunit-console-x86.exe.config